// Set of variables
$light: #fff;
$dark: #222;
$lightBlue: rgb(3, 205, 255);
$darkBlue: rgb($lightBlue, .09);
$beige: beige;

// Set of transitions
$transition: all .4s ease-in-out;
$transitionEase: all .6s ease;