// Importing partials files
@use '../partials/variables' as *;
@use '../partials/mixins' as *;

// Styling the footer component
.footer {
    width: 100%;
    background-color: $darkBlue;
    padding: 3rem 2rem 1rem;
    margin-top: 1rem;

    @include breakpoint-down(small) {
        padding: 1rem;
        width: 600px;
        padding: 2rem 0;
    }

    .container {
        display: flex;
        flex-direction: column;

        @include breakpoint-down(medium) {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        .reach-me {
            margin-bottom: 2.5rem;

            h4 {
                color: $lightBlue;
                margin-bottom: .5rem;
                letter-spacing: .25rem;
            }

            h1 {
                font-size: 2rem;
                color: $light;
                
                @include breakpoint-down(medium) {
                    font-size: 1.5rem
                }

                @include breakpoint-down(small) {
                    font-size: 1.125rem
                }
            }
        }

        .other-links {
            @include flex-between;

            @include breakpoint-down(medium) {
                // @include flex-column;
                display: flex;
                flex-direction: column;
            }

            .email {
                @include breakpoint-down(medium) {
                    margin-bottom: 2rem;
                }

                h4 {
                    color: $lightBlue;
                    font-weight: normal;
                    font-size: 1rem;
                    letter-spacing: .25rem;
                    margin-bottom: .5rem;
                }

                a {
                    color: $light;
                    font-size: 1.125rem;
                    transition: $transition;

                        &:hover {
                            color: $lightBlue;
                        }
                }
            }

            .page-links {       
                @include breakpoint-down(medium) {
                    margin-bottom: 2rem;
                }
                       
                h4 {
                    color: $lightBlue;
                    font-size: 1.125rem;
                    font-weight: normal;
                    letter-spacing: .25rem;
                    margin-bottom: .5rem;

                    @include breakpoint-down(medium) {
                        text-align: center;
                    }
                }
                
                .links {
                    @include flex-default;
                    // display: flex;
                    // align-items: center;
                    gap: 1rem;

                    a {
                        color: $light;
                        font-size: 1.125rem;
                        transition: $transition;

                        &:hover {
                            color: $lightBlue;
                        }
                    }
                }
            }

            .socials {
                @include breakpoint-down(medium) {
                    margin-bottom: 2rem;
                }

                h4 {
                    color: $lightBlue;
                    font-weight: normal;
                    font-size: 1.125rem;
                    letter-spacing: .25rem;
                    margin-bottom: .5rem;

                    @include breakpoint-down(medium) {
                        text-align: center;
                    }
                }

                .social-links {
                    @include flex-default;

                    a {
                        // display: flex;
                        color: $light;
                        margin-left: 1rem;
                        font-size: 1.125rem;
                        transition: $transition;

                        &:hover {
                            color: $lightBlue;
                        }
                    }
                }

            }

            .email-box {
                background-color: $lightBlue;
                padding: 1.25rem 4rem;
                font-family: 'Rowdies', sans-serif;
                font-size: .875rem;
                cursor: pointer;
                transition: $transition;

                @include breakpoint-down(medium) {
                    padding: 1rem 2rem;
                    font-size: .75rem;
                }

                
                a {
                    color: $light;
                    transition: $transition;
                    letter-spacing: .25rem;
                }

                &:hover {
                    background-color: transparent;

                    a {
                        color: $lightBlue;
                    }
                }
            }
        }
    }

    .right {
        margin-top: 3rem;
        text-align: center;
        color: $lightBlue;
        font-size: .875rem;

        @include breakpoint-down(medium) {
            font-size: .75rem;
        }
    }
}